// COLORS
$color-primary: #deaa43;
$color-primary-light: #ffcc67;
$color-primary-dark-1: #91681d;
$color-primary-dark-2: #1b1406;

$color-secondary: #498df3;
$color-secondary-dark-1: #0f4391;
$color-secondary-dark-2: #082044;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$shadow-dark: 0 2rem 6rem rgba(0,0,0, .5);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.1);

// FONT SIZES
$default-font-size: 1.6rem;