// COLORS
$color-primary: #deaa43;
$color-primary-light: #ffcc67;
$color-primary-dark-1: #91681d;
$color-primary-dark-2: #1b1406;

$color-secondary-light: #4381de;
$color-secondary-dark: #0f4391;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;