.topbar {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    height: 7rem;
    width: 100%;
    // background-image: linear-gradient(rgba($color-secondary-dark-1, 1), rgba($color-secondary-dark-3, 1 ), rgba($color-secondary-dark-1, 1));
    // box-shadow: $shadow-dark;
    // perspective: 150rem;
    // -moz-perspective: 150rem;
    // position: relative;
    // height: 8rem;
    position: fixed;
    top: 0;

    &__side {
        
        // backface-visibility: hidden;
        // -webkit-backface-visibility: hidden;
        // transition: all .8s ease;
        // position: absolute;
        // top: 0;
        // left: 0;

        // &--back {
        //     transform: rotateX(180deg);
        // }

    }

    // &:hover &__side--front {
    //     transform: rotateX(-180deg);
    // }

    // &:hover &__side--back {
    //     transform: rotateX(0);
    // }
}

.nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 2.5rem;
    
    &__list {
        list-style: none;
        display: flex;
        align-self: center;

        
        &-link:link,
        &-link:visited {
            text-decoration: none;
            color: $color-secondary;
            padding: 1rem 1.5rem;
        }

        &-link:hover {
            color: $color-grey-light-1;
            
        }

        &-link:active,
        &-link:focus {
            border: solid 1px $color-primary;
            border-radius: 0.3rem;
            transform: translateY(0.3rem);
        }
    }
}