.nav {
    width: 100%;
    grid-column: full-start / full-end;
    position: fixed;
    top: 2rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 3.5rem;
    z-index: 100;
    
    &__list {
        list-style: none;
        display: flex;
        align-self: center;


        &_item:not(:last-child) {
            margin-right: 1rem;
        }

        &_link:link,
        &_link:visited {
            display: inline-block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            color: $color-black;
            font-family: $font-secondary;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: .4rem;
            position: relative;
            transition: all .3s;
            z-index: 10;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
            }
        }

        &_link:hover::before,
        &_link--active::before,
        &_link:hover::after,
        &_link--active::after {
            width: 50%;
            height: 100%;
            border: solid 2px $color-primary;
        }

        &_link:hover::before,
        &_link--active::before {
            animation: moveInBorderLeft .4s cubic-bezier(.19,-1.05,.88,.98);
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            border-right: none;
        }

        &_link:hover::after,
        &_link--active::after {
            animation: moveInBorderRight .4s cubic-bezier(.19,-1.05,.88,.98);
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            border-left: none;
        }

        &_link:active,
        &_link:focus {
            color: $color-grey-light-1;
        }
    }
}