@keyframes moveInUp {
   0% {
       opacity: 0;
       transform: translateY(-15rem);
   }


   100% {
       opacity: 1;
       transform: translate(1);
   }
}


@keyframes moveInRight {
    0% {
       opacity: 0;
       transform: translateX(-15rem);
   }

   100% {
       opacity: 1;
       transform: translate(1);
   }
}

@keyframes moveInBorderLeft {
    0% {
        border-color: $color-white; 
        transform: translateX(-1.5rem);
   }    

   100% {
       transform: translateX(0);
   }
}

@keyframes moveInBorderRight {
    0% {
        border-color: $color-white;
        transform: translateX(1.5rem);
   }

   100% {
       transform: translateX(0);
   }
}