*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (10px):
    font-size: 62.5%; //1rem = 10px
    
}

body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
/*    font-size: 16px;*/
    line-height: 1.7;
    letter-spacing: 2px;
    color: $color-grey-light-1;
    box-sizing: border-box;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: 7rem repeat(3, minmax(min-content, 100vh));
    grid-template-columns: [full-start] repeat(7, [col-start] 1fr [col-end]) [full-end];
    grid-column-gap: 5rem;
    max-width: 100%;
    background-image: linear-gradient(rgba($color-secondary-dark-3, .93), rgba($color-secondary-dark-3, .93)), url(../img/drawing.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

::-moz-selection {
    background-color: $color-primary;
    color: $color-white;
}