*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (10px):
    font-size: 62.5%; //1rem = 10px
    
}

body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
/*    font-size: 16px;*/
    line-height: 1.7;
    letter-spacing: 2px;
    color: $color-grey-light-1;
    background-color: $color-grey-light-2;
    box-sizing: border-box;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: [full-start] repeat(7, [col-start] 1fr [col-end]) [full-end];
    margin: 8rem auto;
    max-width: 120rem;
    background-image: linear-gradient(to right bottom, $color-primary-dark-1,$color-primary-dark-2);
    box-shadow: $shadow-dark;
    

}

::-moz-selection {
    background-color: $color-primary;
    color: $color-white;
}