*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (10px):
    font-size: 62.5%; //1rem = 10px
}

body {
    font-family: $font-primary;
    font-weight: 400;
/*    font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-light-1;
    box-sizing: border-box;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: 100vh minmax(80vh, min-content)  min-content;
    grid-template-columns: [full-start] repeat(7, minmax(min-content, 1fr)) [full-end];
    // grid-row-gap: 5rem;
    max-width: 100%;
    background-image: linear-gradient(rgba($color-secondary, .97), rgba($color-grey-dark-3, .97));
    background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
}

::-moz-selection {
    background-color: $color-primary;
    color: $color-white;
}